.main-body{
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
}

.func-div {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 1140px;
  margin-bottom: 50px;
}
