.main-div {
  display: flex;
  flex-direction: column;
  text-align: center;
  text-transform: capitalize;
  padding: 40px 120px;
  font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
  background-color: rgb(244, 244, 244);
  padding-bottom: 228px;
}
.main-div p {
  margin-bottom: 50px;
}
.home-btn a {
  color: #f23030;
}

.home-btn {
  margin-bottom: 40px;
}
